[Unit]
Description=Shadowsocks Server
After=network.target
 
[Service]
Type=forking
PIDFile=/run/shadowsocks/server.pid
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /run/shadowsocks
ExecStartPre=/bin/chown nobody:nogroup /run/shadowsocks
ExecStart=/usr/local/bin/ssserver -f /var/run/shadowsocks/server.pid -c /usr/local/etc/ss-config.json
Restart=on-abort
User=nobody
Group=nogroup
UMask=0027
 
[Install]
WantedBy=multi-user.target
