[submodule "tools/arcanist"]
	path = tools/arcanist
	url = https://github.com/phacility/arcanist.git
[submodule "tools/emacs"]
	path = tools/emacs
	url = git://git.savannah.gnu.org/emacs.git
[submodule "tools/z"]
	path = tools/z
	url = https://github.com/rupa/z.git
[submodule "tools/libphutil"]
	path = tools/libphutil
	url = git://github.com/phacility/libphutil.git
[submodule "tools/oh-my-zsh"]
	path = tools/oh-my-zsh
	url = https://github.com/ddysher/oh-my-zsh.git
