[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ddysher/oh-my-zsh.git
[submodule "emacs"]
	path = emacs
	url = git://git.savannah.gnu.org/emacs.git
    ignore = dirty
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
